@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using ContactForm

@{
	var name = Request["name"];
    var email = Request["email"];
	var phone = Request["phone"];
	var city = Request["city"];
	var state = Request["state"];
	var subject = Request["subject"];
	var subSubject = Request["subSubject"];
    var message = Request["message"];
	var cpf = Request["document_cpf"];
    var permit = Request["document_permit"];
	var type = Request["type"];
		
		
	string[] userData = {name,email,phone,city,state,subject,subSubject,message,cpf,permit,type};

	var mailer = new Mailer();
	@mailer.SendMail(userData);
		
	@*<h1>Sending..</h1>
		<div>@name</div>
		<div>@email</div>
		<div>@phone</div>
		<div>@city</div>
		<div>@state</div>
		<div>@subject</div>
		<div>@subSubject</div>
		<div>@message</div>
		<div>@document_cpf</div>
        <div>@document_permit</div>
		<div>@type</div>*@
}
